env
.vscode

# Environments 
backend/.env 
backend/.venv 
backend/env/ 
backend/venv/ 
backend/ENV/ 
backend/env.bak/ 
backend/venv.bak/ 

backend/.vercel
backend/*.log
backend/*.pyc
backend/__pycache__
backend/db.sqlite3
backend/media
